#!/bin/bash

# Import parent envrc if exists.
if [ ! -z "$(type -t source_up)" ]; then
  source_up
fi

# Define properties as environment variables.
export VITE_APP_TITLE="$(jq -r .title ../../packages/config/metadata.json)"
export VITE_APP_GOOGLE_ADS_CLIENT="$(jq -r .googleAdsense.client ../../packages/config/secrets.json)"
export STATIC_FILE_BUCKET="$(jq -r .s3.staticBucketName ../../packages/config/secrets.json)"

# Generate ".env" file to use these at "index.html" file.
(cat .env | grep -v "VITE_APP_" || true; echo "VITE_APP_TITLE=${VITE_APP_TITLE}"; echo "VITE_APP_GOOGLE_ADS_CLIENT=${VITE_APP_GOOGLE_ADS_CLIENT}") > .env
