#!/bin/bash

# Import parent envrc if exists.
if [ ! -z "$(type -t source_up)" ]; then
  source_up
fi

# Define properties as environment variables.
export REACT_APP_TITLE="$(jq -r .title ../config/metadata.json)"
export STATIC_FILE_BUCKET="$(jq -r .s3.staticBucketName ../config/secrets.json)"

