body {
  display: flex;
  justify-content: center;
  color: #444444;
  font-family: "Crimson Text", sans-serif, serif;
  line-height: 1.6;
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
}
#root {
  height: 100%;
  min-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #c39f76;
}
a:hover {
  color: #444444;
}

.ql-editor {
  overflow: hidden;
}

@media (max-width: 800px) {
  .ql-editor {
    padding: 0px !important;
  }
}

.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4,
.ql-editor h5,
.ql-editor h6 {
  margin-top: 2rem !important;
  margin-bottom: 0.8rem !important;
}
.ql-editor h2:first-child {
  margin-top: 0 !important;
}
.ql-editor p {
  text-align: justify;
}
.ql-editor p,
.ql-editor ul li,
.ql-editor ol li,
.ql-editor blockquote {
  line-height: 1.6;
}
.ql-editor p,
.ql-editor ul,
.ql-editor ol,
.ql-editor blockquote,
.ql-editor .ql-video {
  margin-bottom: 1rem !important;
  font-size: 1rem;
}
.ql-editor blockquote {
  text-align: justify;
  margin: 5vh 0 !important;
  border: 0 !important;
}
.ql-editor blockquote:before,
.ql-editor blockquote:after {
  display: block;
  content: "";
  position: relative;
  width: 30px;
  border-top: 2px solid #818181;
  margin: 1em auto;
}

.ql-editor img {
  max-width: 65vw !important;
  max-height: 50vh !important;
}

@media (max-width: 800px) {
  .ql-editor {
    padding: 0px !important;
  }

  .ql-editor img {
    max-width: 100% !important;
    max-height: 50vh !important;
  }
}

.ql-editor .ql-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.ql-editor .ql-video iframe,
.ql-editor .ql-video object,
.ql-editor .ql-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ql-snow .ql-editor .ql-syntax,
.ql-editor .ql-syntax {
  background-color: #011627 !important;
  padding: 1rem;
  color: #d6deeb !important;
  border-radius: 8px;
  margin: 0 1rem 1rem 1rem;
}

.ArticleEdit {
  margin: 1rem -2vw;
}
.ArticleEdit .ql-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
}

.ArticleEdit .ql-container {
  border: 1px solid #eeeeee;
  height: auto;
  min-height: 100%;
  margin-bottom: 2vh;
}

.ArticleEdit .ql-editor {
  overflow-y: visible;
}
