body {
  display: flex;
  justify-content: center;
  color: #444444;
  font-family: "Crimson Text", serif;
  line-height: 1.8rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: #c39f76;
}
a:hover {
  color: #444444;
}

@media (max-width: 800px) {
  .ql-editor {
    padding: 0px !important;
  }
}

.ql-editor h2 {
  margin-top: 2rem !important;
  margin-bottom: 0.8rem !important;
}
.ql-editor h2:first-child {
  margin-top: 0 !important;
}
.ql-editor p {
  text-indent: 1rem;
  text-align: justify;
}
.ql-editor p,
.ql-editor ul li,
.ql-editor ol li {
  line-height: 1.6rem;
}
.ql-editor p,
.ql-editor ul,
.ql-editor ol {
  margin-bottom: 1rem !important;
  font-size: 0.95rem;
}

.ql-editor img {
  max-width: 50vw !important;
  max-height: 50vh !important;
}

.ql-container {
  margin: 4vh auto;
}

.ArticleEdit .ql-container.ql-snow {
  height: auto;
}
.ArticleEdit .ql-editor {
  max-height: 80vh;
  overflow-y: scroll;
}

.ArticleEdit {
  margin: 1rem -2vw;
}

.ArticleEdit .ArticleTitle,
.ArticleEdit .ArticleHeadImage,
.ArticleEdit .ArticleExcerpt,
.ArticleEdit .ArticleCategory,
.ArticleEdit .ArticleTags {
  margin-bottom: 1rem;
}

.ArticleEdit .ArticleTitle label,
.ArticleEdit .ArticleHeadImage label,
.ArticleEdit .ArticleExcerpt label,
.ArticleEdit .ArticleCategory label,
.ArticleEdit .ArticleTags label {
  font-weight: bold;
  text-transform: uppercase;
}

.ArticleEdit .ArticleTitle input,
.ArticleEdit .ArticleHeadImage div,
.ArticleEdit .ArticleHeadImage img,
.ArticleEdit .ArticleExcerpt textarea,
.ArticleEdit .ArticleCategory input,
.ArticleEdit .ArticleTags input {
  width: calc(100% - 16px);
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding: 6px;
  border: 1px solid #dddddd;
}

.ArticleEdit .ArticleHeadImage img {
  width: auto;
  max-width: 50vw;
}
